img.tecno{
  width: 60px;
  float:left;
}
img.logo{
  width: 60px;
  float:right;
}
img.barra{
  width: 50px;
  height: 50px;
  float: center;
}
img.uno{
  float: center;
}
h1.titulo{
  text-align: center;
  font-family: Times New Roman;
  color:white;
}
header.borde{
  background-color: #e3f2fd;
}
div.caja{
  border: 8px solid rgba(255, 255, 255, 0.5);
  padding: 20px;
  background-color: #007bff;
  padding-top: 10px;
  color:white;
  clear: both;
}
.fondo{
  background-image: url("../Imagenes/Mundo2.jpg");
  background-size: cover;
  background-repeat: no-repeat
}
nav.Fondo2_2{
  background-color: #198754;
}
